@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
h1, h3, h4, small, .h5 {
    @apply font-NanamiRegular;
}

h2, h5 { 
    @apply font-NanamiBold;
}

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-[28px] leading-[30.8px];
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-xl text-violet-500;
    }

    h5, .h5 {
        @apply text-base;
    }

    body {
        @apply text-lg font-DelSemiLight text-gray-50 min-h-screen;
    }

    .BodyS {
        @apply text-xs font-NanamiLight;
    }

    small {
        @apply text-[10px] leading-[13.42px];
    }

    input {
        @apply bg-transparent border border-gray-50 rounded-xl p-3 w-full text-base mt-2;
    }

    input:focus {
        @apply bg-violet-800;
      }
}

@layer components {
    .container {
        @apply max-w-screen-xl mx-auto px-6;
    }
    path {
        @apply transition-all ease-in-out duration-100;
    }
    .router-link-active path {
        @apply stroke-violet-500;
    }
    .tab-item {
        @apply flex justify-center items-center transition-all ease-in-out duration-300 bg-zinc-900 w-24 h-12 relative rounded-t-full;
    }
    .tabbar .active {
        @apply h-[90px] -top-4;
    }
      
    .tabbar .active:before,
    .tabbar .active:after {
        @apply content-[''] absolute w-[30px] h-[25px] border-b-4 border-zinc-900 top-[5px];
    }
      
    .tabbar .active:before {
        @apply rounded-br-[60%] -left-[18.5px];
    }
    .tabbar .active:after {
        border-bottom-left-radius: 60%;
        right: -18.5px;
    }
      
      
input[type="checkbox"] {
   @apply appearance-none border-none bg-transparent w-5 h-5 relative;
}

input[type="checkbox"]::before {
   @apply content-[''] block w-5 h-5 border-2 border-white rounded-lg absolute -top-0.5 left-1 ;
}

input[type="checkbox"]:checked::before {
    @apply bg-center bg-no-repeat;
    background-image: url('../img/icones/check.svg');
}

.path-profil {
    max-width: 100px;
            height: 100px; 
            object-position: center; 
        border-radius: 50%;
        }
.selected-avatar {
    @apply ring-4 ring-gray-50;
}
.degradsombre {
    @apply bg-gradient-to-b from-[#361271] to-violet-900;
}
}